/*Section : RESERVATION*/
section#reservation {
    padding-top: 8%;
    padding-bottom: 5%;
}

section#reservation>img {
    top: -20vh;
    left: 1vw;
    position: absolute;
    z-index: -999;
    overflow: hidden;
    width: 100%;
    left: 0;
    filter: blur(0.2vw) brightness(30%);
}

section#reservation div.reserveFormAll {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: #ffffff39;
}

.reserveForm {
    padding-right: 2%;
    width: 65%;
    border-right: 0.25vw double #ffffff;
}

.reserveForm>h2,
.reserveEnquiry>h2 {
    font-family: "Cinzel Regular", Garamond, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 2.5vw;
    font-weight: lighter;
    line-height: 8vh;
    word-spacing: 1vw;
    letter-spacing: 0.5vw;
}

.reserveForm>p {
    font-family: Lancelot, Garamond, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    font-size: 1.2vw;
    font-weight: lighter;
}

.reserveForm>p>a {
    font-family: Garamond, 'Times New Roman', Times, serif;
    text-align: center;
    color: #F9BF65;
    font-size: 1.2vw;
    font-weight: lighter;
}

#bookingForm {
    width: 100%;
    margin-top: 5%;
}

.reserveCustDetails {
    display: flex;
    justify-content: space-between;
}

#bookName,
#bookTel {
    width: 49%;
    height: 20%;
}

#bookingForm input {
    width: 100%;

    background-color: #000000c4;
    border: none;
    font-family: Explora;
    font-weight: bold;
    padding: 3%;
    font-size: 1.5vw;
    color: #ffffff;
    letter-spacing: 0.2vw;
}

.reserveBookDetails {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

#bookGuestCount select {
    width: 100%;
    height: 100%;

    background-image: url(../images/icon-logo/icon/account.png);
    background-repeat: no-repeat;
    background-position: 0.5vw center;
    background-color: #000000c4;
    border: none;
    font-family: Explora;
    font-weight: bold;
    padding: 1% 1% 1% 15%;
    font-size: 1.5vw;
    color: #ffffff;
    letter-spacing: 0.2vw;
}

#bookTime select {
    width: 100%;
    height: 100%;

    background-color: #000000c4;
    border: none;
    font-family: Explora;
    font-weight: bold;
    padding: 1% 1% 1% 5%;
    font-size: 1.5vw;
    color: #ffffff;
    letter-spacing: 0.2vw;
}

#bookGuestCount,
#bookDate,
#bookTime {
    width: 32%;
}

.reserveRequest {
    margin-top: 2%;
}

.reserveRequest textarea {
    resize: none;
    width: 100%;
    text-align: justify;
    background-color: #000000c4;
    border: none;
    font-family: Explora;
    font-weight: bold;
    padding: 3%;
    font-size: 1.5vw;
    color: #ffffff;
    letter-spacing: 0.2vw;
}

.reserveSubmit {
    margin-top: 2%;
}

.reserveSubmit input[type=submit] {
    cursor: pointer;
    font-family: Poppins !important;
    font-size: 1vw !important;
    letter-spacing: 0.5vw !important;
    word-spacing: 0.2vw !important;
    position: relative;
    transition: all 0.5s ease;
}

.reserveSubmit:hover input[type=submit] {
    color: #000000 !important;
    background-color: #c39e66 !important;
}

/*------------------------------------------*/
/*Booking Enquiries*/
.reserveEnquiry .bookCall {
    margin-top: 12%;
    text-align: center;
}

.reserveEnquiry .bookCall>p {
    color: #ffffff;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

.reserveEnquiry .bookCall h3{
    margin-top: 5%;
    position: relative;
    font-size: 1vw;
}

.reserveEnquiry .bookCall h3>a{
    border-bottom: 0.25vw double #ffc977;

    color: #ffc977;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    text-decoration: none;
    letter-spacing: 0.1vw;
}

.reserveEnquiry .bookCall h3::after {
    content: '\a\2662';
    white-space: pre;
    font-size: 1vw;

    color: #ffc977;
    font-weight: lighter;
    position: absolute;
    top: 100%;
    right: 49%;
}

.bookInfo{
    margin-top: 12%;
    text-align: center;
    width: 100%;
}

.bookInfo>h3{
    color: #ffc977;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-variant: small-caps;
    font-weight: lighter;
    text-decoration: none;
    letter-spacing: 0.1vw;
}

.bookInfo>p{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 52%;

    color: #ffffff;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
    line-height: 2.5vh;
    font-weight: lighter;
    text-decoration: none;
}